.logo{
    width: 400px;
}
.header{
    text-align: center;
}
nav{
    background-color: black;
    line-height: 40px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 8px 15px;
}
nav a:hover{
    background-color: gray;
}